
<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/style.css">


</head>

<body>
    <div class="main-content">
        <h1>{{title}}</h1>
        <img class="portrait" src="./img/zebra.jpg">
    </div>
    {{>header}}
    
    {{>footer}}
</body>

</html>